* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
}

header {
  display: grid;
  grid-template-columns: 20% 55%;
  gap: 20%;
  place-items: center;
  background: blue;
  padding-top: 2rem;

  div {
    padding-left: 5%;
    padding-bottom: 1rem;

    img{
      width: 4rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 4rem;
      list-style: none;

      li {
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 600;
          font-size: 1.2rem;
        }
      }
    }
  }
}

// main section

.container {
  min-height: 100vh;

  .anime__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;

    .anime__card {
      background: red;
      // margin: 2.4rem 0;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
      margin: 1rem 0;

      .cover__photo {
        width: 100%;
        display: block;
      }

      .anime__name {
        padding: 1.5rem 0.5rem;

        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// media queries
@media screen and (min-width: 600px){
  .anime__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}